@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&family=Poppins:wght@300&family=Raleway:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&family=Cormorant+Garamond:ital,wght@0,300;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cormorant Garamond", serif;
}
#header {
  background-image: none;
}
.logo {
  font-size: 45px;
  text-decoration: none;
  color: rgb(249, 249, 249);
}
.main-2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -2;
  color: rgb(247, 247, 247);
  height: 50vh;
  width: 100%;
}

.main-2 h1 {
  width: 100%;
  font-size: 70px;
  padding: 12% 42%;
}
.hover b {
  width: 100px;
}

.btn1 {
  margin-top: 80px;
  margin-left: 17%;
}

.btn {
  width: 18%;
  text-align: center;
  font-weight: bolder;
  display: inline-block;
  padding: 15px 40px;
  border: 1px solid #fff;
  box-shadow: 1px 0px 15px -5px rgba(0, 0, 0, 0.34);
  border-radius: 50px;
  cursor: pointer;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
  margin: 0 20px;
}

.btn:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  background: rgb(105, 151, 226);
  left: 0;
  bottom: 0;
  transition: all 0.3s;
  opacity: 0.3;
}

.btn:hover:before {
  width: 100%;
}

.openmenu {
  display: none;
  color: aliceblue;
  font-size: 30px;
  cursor: pointer;
}
#closemenu {
  display: none;
  color: aliceblue;
  font-size: 30px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

@media (max-width: 990px) {
  .openmenu {
    display: initial;
    float: right;
  }
  .head {
    display: flow-root;
  }
  .heading {
    padding: 65% 0%;
  }
  .navbar {
    display: absolute;
    top: 100%;
    display: none;
    transition: 0.6s;
    left: 0;
    right: 0;
  }
  .navbar ul li {
    width: 100%;
    text-align: center;
  }
  .navbar ul li ul {
    position: relative;
    width: 100%;
  }
  .navbar ul li ul li {
    left: 0;
  }
  .navbar ul li ul li {
    width: 100%;
  }
  .navbar ul li ul li ul li {
    top: -28px;
    left: -140px;
  }
  #closemenu {
    float: right;
  }
  .active {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .main h1 {
    margin-top: 62px;
    padding: 38% 22%;
  }
  .btn1 {
    display: inline-block;
  }
  .btn1 {
    margin-left: 28%;
    margin-top: -27px;
  }

  .btn {
    margin: 60% 0px;
  }
}
